.body {
    background-color: rgb(0, 0, 0);
}



.text,
.textimportant{
    color:white;
    text-align: center;
}
.text{
    font-family: Arial,sans-serif;

}

.textimportant {
    font-family: 'Times New Roman',serif;

}

.img {
    background-color: aqua;
    height: auto;
    width: 300px;
}